# SAMPLE GABELDORSCHE CONFIG
# push to /sdcard/gabeldorsche.config
#
# This file will be replaced with a proper UI at some point

# This section header indicates package config follows
<<packages>>

# PACKAGE CONFIG FORMAT:
# [{com.example.package}]
# :sender={notification extra name}
# :text={notification extra name}
# {vibe} (see VIBE FORMAT below)

# VIBE FORMAT:
# repeated [
#   location (one of front-left, front-right, back-right, or back-left)
#   repeated [
#     {vibration strength 0.0f-1.0f}:{duration milliseconds}
#   ]
# ]

[com.google.android.apps.messaging]
:sender=android.title
:text=android.bigText
front-left
0.5:200
0.0:200
0.5:200

# This section header indicates sender config follows
<<senders>>

# SENDER CONFIG FORMAT:
# [{sender name}]
# {vibe} (see VIBE FORMAT above)

[Zach Johnson]
back-right
0.5:200

# This section header indicates the urgent prefix config follows
<<urgent-prefix>>

# URGENT-PREFIX CONFIG FORMAT:
# [{regex to match the text against}]
# {vibe} (see VIBE FORMAT above)

[(?is).*#urgent.*]
front-left
0.5:400
front-right
0.5:400
back-right
0.5:400
back-left
0.5:400

